/* ------------------------
JasRockr CSS Root Default
  ---------->>
  01. Inicializacion Root
    Paleta de colores
    Fuentes
  02. Box Sizing
  03. Body Init
  04. Globals
  <<----------
------------------------ */
/** 01. Inicializacion **/
* 
{
  margin: 0;
  padding: 0;
}

:root 
{
  /* Paleta de colores */
  --blanco: #FFFFFF;
  --blancoTransparencia: rgba(255, 255, 255, .6);
  --negro: #000000;
  --negroTransparencia: rgba(0, 0, 0, 0.55);
  --gris: #F2F2F2;
  --grisOscuro: #353535;
  --primario: rgba(128, 255, 128, 0.8);
  --secundario: rgba(255, 0, 0, .6);
  --gradianteBG: radial-gradient(#11581E, #041607);
  --shadow: 
      0 0 1ex rgba(51, 255, 51, 1),
      0 0 .2rem rgba(255, 255, 255, 0.8);
  --shadowBlack: 
  0 0 1ex rgb(26, 0, 0),
  0 0 .2rem rgba(255, 255, 255, 0.1);
  --shadowRed: 
  0 0 1ex rgba(255, 51, 51, 51),
  0 0 .2rem rgba(255, 255, 255, 0.8);

  /* Fuentes */
  --fuente1: 'Zeyada', monospace;
  --fuente2: 'Prompt', monospace;
  --fuente3: 'Baloo Thambi 2', monospace;
}
 

/** 02. Box Sizing **/
html 
{
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}
*,*:before,*:after 
{
  box-sizing: inherit;
}

/** 03. Inicializacion Body **/
body 
{
  background-color: var(--negroTransparencia);
  font-family: var(--fuente2), var(--fuente3);
}



/* ------------------------
          Styles
  -------------------->> */

/** Background Signal **/
.noise 
{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
  opacity: .02;
}

.overlay 
{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background:
      repeating-linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0) 100%);
  background-size: auto .3rem;
  z-index: -4;
}

.overlay::before 
{
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      transparent 0%,
      rgba(32, 128, 32, 0.2) 2%,
      rgba(32, 128, 32, 0.8) 3%,
      rgba(32, 128, 32, 0.2) 3%,
      transparent 100%);
  background-repeat: no-repeat;
  animation: scan 7.5s linear 0s infinite;
}

@keyframes scan 
{
  0%        { background-position: 0 -100vh; }
  35%, 100% { background-position: 0 100vh; }
}

/** Header **/
header  .title
{
  position: absolute;
  top: .5em;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title
{
  font-family:  var(--fuente1);
  font-size: 3em;
  color: var(--secundario);
  text-shadow: var(--shadowRed);
}


/** Body **/
  body 
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--negro);
  
  background-image: var(--gradianteBG), url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
  font-size: 3.5rem;
  color: var(--primario);
  text-shadow: var(--shadow);
}



/** Container CLI **/
.cli 
{
  position: relative;
  width: 100%;
  height: auto;
  padding: 5rem;
  text-transform: uppercase;
  display: flex;
  line-height: 5rem;
  flex-wrap: wrap;
}

.output-content
{
  padding: 4rem;
}

.output 
{
  color: var(--primario);
  text-shadow: var(--shadow);
}

.output::before 
{
  content: "> ";
}

.highlighted 
{
  color: var(--blanco);
}






/** Footer **/

.nav
{
 clear: both; 
 font-family: var(--fuente2);
 font-size: .6em;
}

nav a 
{
  color: var(--secundario);
  text-shadow: var(--shadowRed);
  text-decoration: none;
}

span.bullet
{
  color: var(--negroTransparencia);
}

nav
{
  /*display: block;*/
  padding: 2em;
  /*
  position: relative;
  width: 100%;
  height: auto;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.8rem; 
  */
}

/* Copyright */
.copyright {
  width: 100%;
  /*border-top: .1rem solid var(--blancoTransparencia);*/
  background-color: var(--negroTransparencia);
  color: var(--blanco);
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.creditos-theme
{
  font-size: 1rem;
}

.creditos-theme a
{
  color: var(--blancoTransparencia);
  text-shadow: var(--shadowRed);
  text-decoration: none;
}

@media (max-width: 998px) 
{
  footer 
  {
    padding: 4rem;
  }
}
