:root {
/* Paleta de colores */
    --primario: #c20023;
    --blanco: #FFFFFF;
    --negro: #000000;

/* Fuentes */
    --fuente1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px*/
}
    *,*:before,*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--negro);
    font-family: var(--fuente1);
    text-align: center;
}

/** Globales **/
.container 
{
    width: 95%;
    margin: 0 auto;
}

h1
{
    text-transform: uppercase;
    color: var(--blanco);
    font-size: 5em;
}

img 
{
    margin: -10em;
}