/* ------------------------
JasRockr CSS Root Default
  ---------->>
  01. Inicializacion Root
    Paleta de colores
    Fuentes
  02. Box Sizing
  03. Body Init
  04. Globals
  <<----------
------------------------ */
/** 01. Inicializacion **/
* 
{
  margin: 0;
  padding: 0;
}

:root 
{
  /* Paleta de colores */
  --white: #FFFFFF;
  --whiteClarity: rgba(255, 255, 255, .6);
  --black: rgba(0, 0, 0, 0);
  --blackClarity: rgba(0, 0, 0, 0.55);
  --primary: rgba(255, 0, 0, .6);
  --secondary: rgba(128, 255, 244, 0.8);
  --gradianteBG: radial-gradient(#581111, #041607);
  --shadow: 
      0 0 1ex rgb(255, 82, 51),
      0 0 .2rem rgba(255, 255, 255, 0.8);
  --shadowBlack: 
  0 0 1ex rgb(26, 0, 0),
  0 0 .2rem rgba(255, 255, 255, 0.1);
  --shadowRed: 
  0 0 1ex rgba(255, 51, 51, 51),
  0 0 .2rem rgba(255, 255, 255, 0.8);

  /* Fuentes */
  --font1: 'Zeyada', monospace;
  --font2: 'Prompt', monospace;
  --font3: 'Baloo Thambi 2', monospace;
}
 
/** 02. Box Sizing **/
html 
{
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}
*,*:before,*:after 
{
  box-sizing: inherit;
}

/** 03. Inicializacion Body **/
body 
{
  background-color: var(--blackClarity);
  font-family: var(--font2);
}

/* ------------------------
          Styles
  -------------------->> */

/** Body **/
body 
{
  /* General */
  min-height: 100vh;
  font-size: 3.5rem;
  color: var(--primary);
  text-shadow: var(--shadow);
  
  /* Backgroud */
  background-color: var(--black);
  background-image: var(--gradianteBG), url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /* Flexbox */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

/** Background Signal **/
.noise 
{
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
  opacity: .02;
}

.overlay 
{
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background:
      repeating-linear-gradient(
      180deg,
      var(--black) 0,
      var(--blackClarity) 50%,
      var(--black) 100%);
  background-size: auto .3rem;
  z-index: -4;
}

.overlay::before 
{
  content: "";
  pointer-events: none;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      transparent 0%,
      /*
      rgba(32, 128, 32, 0.2) 2%,
      rgba(32, 128, 32, 0.8) 3%,
      rgba(32, 128, 32, 0.2) 3%,
      */
      rgba(255, 0, 0, 0.2) 2%,
      rgba(255, 0, 0, 0.8) 3%,
      rgba(255, 0, 0, 0.2) 3%,
      transparent 100%);
  background-repeat: no-repeat;
  animation: scan 7.5s linear 0s infinite;
}

@keyframes scan 
{
  0%        { background-position: 0 -100vh; }
  35%, 100% { background-position: 0 100vh; }
}


/** Header **/

.head 
{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.head .title
{
  align-self: center;
  font-family:  var(--font1);
  font-size: 12rem;
  padding: 10rem 0 0;
  /*color: var(--secondary);
  text-shadow: var(--shadowRed);*/
}

.head .subtitle
{
  align-self: center;
  font-family:  var(--font2);
  font-size: 5rem;
}

.highlighted 
{
  color: var(--white);
}

/** Container CLI **/
.cli 
{
  position: relative;
  width: 100%;
  height: auto;
  padding: 1.5rem 10%;
  text-transform: uppercase;
  line-height: 5rem;
  display: flex;
  flex-wrap: wrap;
}

.output-content
{
  padding: 4rem;
}

.output 
{
  color: var(--primary);
  text-shadow: var(--shadow);
}

.output::before 
{
  content: "> ";
}


/** Footer **/

.nav
{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  
  font-family: var(--font3);
  font-size: 2.5rem; 
  padding: 5rem 10% 0;

}

.nav a 
{
  color: var(--secondary);
  text-shadow: var(--shadowRed);
  text-decoration: none;
  padding: .4rem 1.4rem .6rem;
}

.bullet
{
  color: var(--blackClarity);
  padding: 0rem 3rem;
}

/* Copyright */
.copyright {
  width: 100%;
  border-top: .1rem dashed var(--primary);
  background-color: var(--blackClarity);
  color: var(--white);
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem 0;
/*
  background-image: url("/img/bg_footer.png") ;

  background-repeat: no-repeat;
  background-size: cover;
  opacity: .8;
  */
}

.creditos-theme
{
  font-size: 1rem;
}

.creditos-theme a
{
  color: var(--whiteTransparencia);
  text-shadow: var(--shadowRed);
  text-decoration: none;
}

/*
@media (max-width: 998px) 
{
  footer 
  {
    padding: 4rem;
  }
}
*/